.enter {
  opacity: 0;
  top: 100rem;

}

.enterActive {
  position: relative;
  opacity: 1;
  top: 20rem;
  transition: top 400ms ease-in;
}
.enterDone{
  top: 10rem;
  opacity: 1;
}

.exit {
  /*top: 2rem;*/
  opacity: 1;
}

.exitActive {
  opacity: 1;
  /*top: 0;*/
  /*transition: top 400ms ease-out;*/
}

.exitDone{
  opacity: 0;
}